body {
	background-image: url('backgroundimage.jpg');
	background-size: cover;
}

h2 {
	color: red;
	text-align: center;
	cursor: pointer;
}

.webdriver {
	border: 5px solid rgb(255, 176, 170);
}

p {
	color: green;
	line-height: 20px;
	font-size: 150%;
	font-style: italic;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
}
li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}
img {
	float: left;
}

footer {
	clear: both;
	text-align: center;
}
